.scrollable-menu {
    height: auto;
    max-height: 300px;
    overflow-x: hidden;
}

.kt-checkbox.gk-checkbox-black.kt-checkbox--disabled {
    opacity: 0.7; }

.kt-checkbox.gk-checkbox-black > span {
    border: 1px solid #646c9a; }
.kt-checkbox.gk-checkbox-black > span:after {
    border: solid #646c9a; }

.kt-checkbox.gk-checkbox-black > input:disabled ~ span:after {
    border-color: #646c9a; }

.kt-checkbox.gk-checkbox-black > input:checked ~ span {
    border: 1px solid #646c9a; }

.kt-checkbox.gk-checkbox-black.kt-checkbox--bold > input:checked ~ span {
    border: 2px solid #646c9a; }

.kt-checkbox.gk-checkbox-black > input:disabled ~ span {
    opacity: 0.6; }

.kt-checkbox.gk-checkbox-black.kt-checkbox--solid > span {
    background: #646c9a;
    border: 1px solid transparent !important; }
.kt-checkbox.gk-checkbox-black.kt-checkbox--solid > span:after {
    border: solid #ffffff; }

.kt-checkbox.gk-checkbox-black.kt-checkbox--solid > input:focus ~ span {
    border: 1px solid transparent !important; }

.kt-checkbox.gk-checkbox-black.kt-checkbox--solid > input:checked ~ span {
    background: #646c9a; }

.kt-checkbox.gk-checkbox-black.kt-checkbox--tick > span {
    background: #e4e8ee;
    border: 1px solid transparent !important; }
.kt-checkbox.gk-checkbox-black.kt-checkbox--tick > span:after {
    border: solid #ffffff; }

.kt-checkbox.gk-checkbox-black.kt-checkbox--tick > input:focus ~ span {
    border: 1px solid transparent !important; }

.kt-checkbox.gk-checkbox-black.kt-checkbox--tick > input:checked ~ span {
    border: 1px solid transparent !important;
    background: #e4e8ee; }
.kt-checkbox.gk-checkbox-black.kt-checkbox--tick > input:checked ~ span:after {
    border: solid #646c9a; }

.kt-radio.gk-radio-black.kt-radio--disabled {
    opacity: 0.8; }

.kt-radio.gk-radio-black > span {
    border: 1px solid #646c9a; }
.kt-radio.gk-radio-black > span:after {
    border: solid #646c9a;
    background: #646c9a; }

.kt-radio.gk-radio-black > input:disabled ~ span:after {
    border-color: #646c9a; }

.kt-radio.gk-radio-black > input:checked ~ span {
    border: 1px solid #646c9a; }

.kt-radio.gk-radio-black.kt-radio--bold > input:checked ~ span {
    border: 2px solid #646c9a; }

.kt-radio.gk-radio-black > input:disabled ~ span {
    opacity: 0.6; }

.kt-radio.gk-radio-black.kt-radio--solid > span {
    background: #646c9a;
    border: 1px solid transparent !important; }
.kt-radio.gk-radio-black.kt-radio--solid > span:after {
    border: solid #ffffff;
    background: #ffffff; }

.kt-radio.gk-radio-black.kt-radio--solid > input:focus ~ span {
    border: 1px solid transparent !important; }

.kt-radio.gk-radio-black.kt-radio--solid > input:checked ~ span {
    background: #646c9a; }

.kt-radio.gk-radio-black.kt-radio--tick > span {
    background: #e4e8ee;
    border: 1px solid transparent !important; }

.kt-radio.gk-radio-black.kt-radio--tick > input:focus ~ span {
    border: 1px solid transparent !important; }

.kt-radio.gk-radio-black.kt-radio--tick > input:checked ~ span {
    background: #e4e8ee; }
.kt-radio.gk-radio-black.kt-radio--tick > input:checked ~ span:after {
    border: solid #646c9a;
    background: #646c9a; }

.kt-aside-menu .kt-menu__nav > .kt-menu__item > .kt-menu__heading .kt-menu__link-icon, .kt-aside-menu .kt-menu__nav > .kt-menu__item > .kt-menu__link .kt-menu__link-icon {
    font-size: 1.4rem;
}

.kt-media--gakko-brand{
    background-color: #ed1c24;
}
.kt-media--gakko-brand > span{
    color: #ffffff;
}